/* Colors */

:root {
    /* hsl (fallback color) */
    --bg-dark: hsl(239 69% 3%);
    --bg: hsl(235 48% 6%);
    --bg-light: hsl(233 31% 11%);
    --text: hsl(232 100% 100%);
    --text-muted: hsl(232 38% 75%);
    --highlight: hsl(233 19% 44%);
    --border: hsl(233 24% 33%);
    --border-muted: hsl(235 32% 22%);
    --primary: hsl(233 73% 79%);
    --secondary: hsl(50 43% 58%);
    --danger: hsl(9 31% 65%);
    --warning: hsl(52 22% 56%);
    --success: hsl(147 21% 58%);
    --info: hsl(217 34% 65%);
    /* oklch */
    --bg-dark: oklch(0.1 0.03 278);
    --bg: oklch(0.15 0.03 278);
    --bg-light: oklch(0.2 0.03 278);
    --text: oklch(0.96 0.06 278);
    --text-muted: oklch(0.76 0.06 278);
    --highlight: oklch(0.5 0.06 278);
    --border: oklch(0.4 0.06 278);
    --border-muted: oklch(0.3 0.06 278);
    --primary: oklch(0.76 0.1 278);
    --secondary: oklch(0.76 0.1 98);
    --danger: oklch(0.7 0.06 30);
    --warning: oklch(0.7 0.06 100);
    --success: oklch(0.7 0.06 160);
    --info: oklch(0.7 0.06 260);
}

body.light {
    /* hsl (fallback color) */
    --bg-dark: hsl(231 68% 93%);
    --bg: hsl(231 100% 98%);
    --bg-light: hsl(231 100% 100%);
    --text: hsl(242 70% 8%);
    --text-muted: hsl(233 24% 33%);
    --highlight: hsl(232 100% 100%);
    --border: hsl(232 20% 56%);
    --border-muted: hsl(232 28% 68%);
    --primary: hsl(236 35% 36%);
    --secondary: hsl(52 100% 12%);
    --danger: hsl(9 25% 41%);
    --warning: hsl(51 29% 33%);
    --success: hsl(148 24% 35%);
    --info: hsl(217 26% 42%);
    /* oklch */
    --bg-dark: oklch(0.92 0.03 278);
    --bg-semidark: oklch(0.94 0.03 278);
    --bg: oklch(0.96 0.03 278);
    --bg-light: oklch(1 0.03 278);
    --text: oklch(0.15 0.06 278);
    --text-muted: oklch(0.4 0.06 278);
    --highlight: oklch(1 0.06 278);
    --border: oklch(0.6 0.06 278);
    --border-muted: oklch(0.7 0.06 278);
    --primary: oklch(0.4 0.1 278);
    --secondary: oklch(0.4 0.1 98);
    --danger: oklch(0.5 0.06 30);
    --warning: oklch(0.5 0.06 100);
    --success: oklch(0.5 0.06 160);
    --info: oklch(0.5 0.06 260);
}

/* Generals */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    height: 45px;
    background: linear-gradient(to bottom,
            var(--bg),
            var(--bg-dark));
    border-bottom: 1px solid var(--border-muted);
}

.header__left {
    width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo {
    justify-self: center;
    color: var(--text)
}

.header__middle {
    flex-grow: 1;
    max-width: 25%;
}

/* Main content  */

.main-content {
    height: calc(100vh - 45px);
    position: relative;
}

/* Sidebars */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--bg-dark);
    color: var(--text);
    box-shadow: inset -1px 0 0 var(--border-muted);
    padding: 12px;
    font-size: 14px;
}

/* Graph */

.graph-wrapper {
    position: relative;
    height: 100%;
}

.graph-area {
    height: 100%;
    width: 100%;
    display: block;
}