/* Colors */

:root {
    /* hsl (fallback color) */
    --bg-dark: hsl(239 69% 3%);
    --bg: hsl(235 48% 6%);
    --bg-light: hsl(233 31% 11%);
    --text: hsl(232 100% 100%);
    --text-muted: hsl(232 38% 75%);
    --highlight: hsl(233 19% 44%);
    --border: hsl(233 24% 33%);
    --border-muted: hsl(235 32% 22%);
    --primary: hsl(233 73% 79%);
    --secondary: hsl(50 43% 58%);
    --danger: hsl(9 31% 65%);
    --warning: hsl(52 22% 56%);
    --success: hsl(147 21% 58%);
    --info: hsl(217 34% 65%);
    /* oklch */
    --bg-dark: oklch(0.1 0.03 278);
    --bg: oklch(0.15 0.03 278);
    --bg-light: oklch(0.2 0.03 278);
    --text: oklch(0.96 0.06 278);
    --text-muted: oklch(0.76 0.06 278);
    --highlight: oklch(0.5 0.06 278);
    --border: oklch(0.4 0.06 278);
    --border-muted: oklch(0.3 0.06 278);
    --primary: oklch(0.76 0.1 278);
    --secondary: oklch(0.76 0.1 98);
    --danger: oklch(0.7 0.06 30);
    --warning: oklch(0.7 0.06 100);
    --success: oklch(0.7 0.06 160);
    --info: oklch(0.7 0.06 260);
}

body.light {
    /* hsl (fallback color) */
    --bg-dark: hsl(231 68% 93%);
    --bg: hsl(231 100% 98%);
    --bg-light: hsl(231 100% 100%);
    --text: hsl(242 70% 8%);
    --text-muted: hsl(233 24% 33%);
    --highlight: hsl(232 100% 100%);
    --border: hsl(232 20% 56%);
    --border-muted: hsl(232 28% 68%);
    --primary: hsl(236 35% 36%);
    --secondary: hsl(52 100% 12%);
    --danger: hsl(9 25% 41%);
    --warning: hsl(51 29% 33%);
    --success: hsl(148 24% 35%);
    --info: hsl(217 26% 42%);
    /* oklch */
    --bg-dark: oklch(0.92 0.03 278);
    --bg-semidark: oklch(0.94 0.03 278);
    --bg: oklch(0.96 0.03 278);
    --bg-light: oklch(1 0.03 278);
    --text: oklch(0.15 0.06 278);
    --text-muted: oklch(0.4 0.06 278);
    --highlight: oklch(1 0.06 278);
    --border: oklch(0.6 0.06 278);
    --border-muted: oklch(0.7 0.06 278);
    --primary: oklch(0.4 0.1 278);
    --secondary: oklch(0.4 0.1 98);
    --danger: oklch(0.5 0.06 30);
    --warning: oklch(0.5 0.06 100);
    --success: oklch(0.5 0.06 160);
    --info: oklch(0.5 0.06 260);
}

/* Generals */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: oklab(0% 0 0 / 0.5);
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    height: 45px;
    background: linear-gradient(to bottom,
            var(--bg),
            var(--bg-dark));
    border-bottom: 1px solid var(--border-muted);
}

.header__left {
    width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo {
    justify-self: center;
    color: var(--text)
}

.header__middle {
    flex-grow: 1;
    max-width: 25%;
}

/* Main content  */

.main-content {
    height: calc(100vh - 45px);
    position: relative;
}

/* Sidebars */

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: var(--bg-dark);
    border-left: 1px solid var(--border-muted);
    color: var(--text);
    font-size: 1rem;
    z-index: 3;
    transition: transform .3s ease;
}

.sidebar__action {
    background: var(--bg-light);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}

.sidebar__action svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--text);
    fill: var(--text);
}

.sidebar__action--edit {
    background-color: var(--success);
}

.sidebar__action--delete {
    background-color: var(--danger);
}

.sidebar__title {
    flex: 1;
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar__subtitle {
    font-size: 1.2rem;
}

.sidebar__header {
    display: flex;
    align-items: center;
    padding: 1.3rem;
    border-bottom: 1px solid var(--border);
}

.sidebar__section {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    gap: .8rem;
    border-bottom: 1px solid var(--border);
}

.sidebar__section--description {
    border-bottom: none;
    overflow-y: auto;
    scrollbar-color: var(--bg-light) var(--bg-dark);
}

.sidebar__label {
    margin-bottom: .2em;
    font-size: .9em;
}

.sidebar__field {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sidebar__select-wrapper {
    position: relative;
}

.sidebar__select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: .8rem;
    width: 0.5em;
    height: 0.5em;
    pointer-events: none;
    border-left: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    transform: translateY(calc(-50% - (.25em / sqrt(2)))) rotate(-45deg);

}

.sidebar__select {
    width: 100%;
    padding: .5rem .8rem;
    appearance: none;
    background-color: var(--bg-light);
    color: var(--text);
    border: 1px solid var(--border-muted);
    border-radius: .5rem;
    outline: none;
}

.sidebar__actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}


.sidebar__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    list-style: none;
}

.tag {
    background-color: var(--bg-light);
    border-radius: .3rem;
    padding: 5px 10px;
}

.sidebar--hidden {
    transform: translateX(100%);
}

/* Graph */

.graph-wrapper {
    position: relative;
    height: 100%;
}

.graph-area {
    height: 100%;
    width: 100%;
    display: block;
    background-color: var(--bg-light);
}