@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Colors */

:root {
    /* hsl (fallback color) */
    --bg-dark: hsl(239 69% 3%);
    --bg: hsl(235 48% 6%);
    --bg-light: hsl(233 31% 11%);
    --text: hsl(232 100% 100%);
    --text-muted: hsl(232 38% 75%);
    --highlight: hsl(233 19% 44%);
    --border: hsl(233 24% 33%);
    --border-muted: hsl(235 32% 22%);
    --primary: hsl(233 73% 79%);
    --secondary: hsl(50 43% 58%);
    --danger: hsl(9 31% 65%);
    --warning: hsl(52 22% 56%);
    --success: hsl(147 21% 58%);
    --info: hsl(217 34% 65%);
    /* oklch */
    --bg-dark: oklch(0.1 0.03 278);
    --bg: oklch(0.15 0.03 278);
    --bg-light: oklch(0.2 0.03 278);
    --text: oklch(0.96 0.06 278);
    --text-muted: oklch(0.76 0.06 278);
    --highlight: oklch(0.5 0.06 278);
    --border: oklch(0.4 0.06 278);
    --border-muted: oklch(0.3 0.06 278);
    --primary: oklch(0.76 0.1 278);
    --secondary: oklch(0.76 0.1 98);
    --danger: oklch(0.7 0.06 30);
    --warning: oklch(0.7 0.06 100);
    --success: oklch(0.7 0.06 160);
    --info: oklch(0.7 0.06 260);
}

body.light {
    /* hsl (fallback color) */
    --bg-dark: hsl(231 68% 93%);
    --bg: hsl(231 100% 98%);
    --bg-light: hsl(231 100% 100%);
    --text: hsl(242 70% 8%);
    --text-muted: hsl(233 24% 33%);
    --highlight: hsl(232 100% 100%);
    --border: hsl(232 20% 56%);
    --border-muted: hsl(232 28% 68%);
    --primary: hsl(236 35% 36%);
    --secondary: hsl(52 100% 12%);
    --danger: hsl(9 25% 41%);
    --warning: hsl(51 29% 33%);
    --success: hsl(148 24% 35%);
    --info: hsl(217 26% 42%);
    /* oklch */
    --bg-dark: oklch(0.92 0.03 278);
    --bg-semidark: oklch(0.94 0.03 278);
    --bg: oklch(0.96 0.03 278);
    --bg-light: oklch(1 0.03 278);
    --text: oklch(0.15 0.06 278);
    --text-muted: oklch(0.4 0.06 278);
    --highlight: oklch(1 0.06 278);
    --border: oklch(0.6 0.06 278);
    --border-muted: oklch(0.7 0.06 278);
    --primary: oklch(0.4 0.1 278);
    --secondary: oklch(0.4 0.1 98);
    --danger: oklch(0.5 0.06 30);
    --warning: oklch(0.5 0.06 100);
    --success: oklch(0.5 0.06 160);
    --info: oklch(0.5 0.06 260);
}

/* Generals */

:root {
    --font-family: "Manrope", sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-style: normal;
}

.hidden {
    display: none !important;
}

.button {
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border);
    outline: none;
    background-color: var(--bg-light);
    color: var(--text);
    padding: .5em 1em;
    transition: background-color ease-in .1s;
}

.button:hover {
    background-color: var(--border-muted);
}

/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: oklab(0% 0 0 / 0.5);
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    height: 45px;
    background: linear-gradient(to bottom,
            var(--bg),
            var(--bg-dark));
    border-bottom: 1px solid var(--border-muted);
}

.header__left {
    width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo {
    justify-self: center;
    color: var(--text)
}

.header__middle {
    flex-grow: 1;
    max-width: 25%;
}

/* Main content  */

.main-content {
    height: calc(100vh - 45px);
    position: relative;
}

/* Sidebars */

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: var(--bg-dark);
    border-left: 1px solid var(--border-muted);
    color: var(--text);
    font-size: 1rem;
    z-index: 3;
    transition: transform .3s ease;
}

.sidebar__action {
    background: var(--bg-light);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}

.sidebar__action svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--text);
    fill: var(--text);
}

.sidebar__action--delete {
    background-color: var(--danger);
}

.sidebar__title {
    flex: 1;
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar__subtitle {
    font-size: 1.2rem;
}

.sidebar__header {
    display: flex;
    align-items: center;
    padding: 1.3rem;
    border-bottom: 1px solid var(--border);
}

.sidebar__content {
    overflow-y: auto;
    scrollbar-color: var(--border) var(--bg-light);
}

.sidebar__section {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    gap: .8rem;
    border-bottom: 1px solid var(--border);
}

.sidebar__section--description {
    border-bottom: none;
}

.sidebar__label {
    margin-bottom: .2em;
    font-size: .9em;
}

.sidebar__field {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sidebar__select-wrapper {
    position: relative;
}

.sidebar__select {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.6em 1em;
    border: 1px solid var(--border-muted);
    border-radius: 0.25rem;
    background-color: var(--bg-light);
    color: var(--text);
    cursor: pointer;
}

.arrow {
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .4em solid var(--text);
    transition: transform ease-in-out 0.1s;
}

.sidebar__select[aria-expanded="true"] .arrow {
    transform: rotate(180deg);
}

.sidebar__select-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5em;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--border-muted);
    border-radius: 0.25rem;
    background-color: var(--bg-dark);
    list-style: none;
    padding: .5em;
    margin-top: 10px;
    box-shadow: 0 10px 25px oklch(from var(--border) l c h / 0.3);
    max-height: 200px;
    overflow-y: auto;
    scrollbar-color: var(--border) var(--bg-light);
    z-index: 4;
}

.sidebar__select-options li:hover,
.sidebar__select-options li:focus {
    background-color: var(--bg-light);
    border-radius: 4px;
}

.sidebar__select-options li {
    padding: .6em;
    cursor: pointer;
}

.sidebar__select-options li.selected {
    background-color: var(--bg-light);
}

.sidebar__actions {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.sidebar__connections {
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
}

.sidebar__connection {
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    padding: 0.6em 1em;
    border-radius: 0.25rem;
    cursor: pointer;
}

.sidebar__connection-info {
    display: flex;
    gap: .5em;
    flex: 1;
}

.connection__button {
    border: none;
    outline: none;
    width: .5em;
    height: .5em;
    background-color: transparent;
    border-left: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    transform: rotate(-135deg);
    cursor: pointer;
}

.sidebar__tags {
    padding: .5em;
    border-radius: 0.25rem;
    background-color: var(--bg);
}

.sidebar__tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: .4em;
    list-style: none;
    margin-bottom: .5em;
}

.sidebar__tag {
    background-color: var(--bg-light);
    border-radius: .3em;
    padding: .3em .6em;
}

.sidebar__tags-add {
    display: flex;
    background-color: var(--bg-light);
    border: 1px solid var(--border-muted);
    border-radius: .3em;
}

.sidebar__tags-input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-muted);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: .6rem 0 .6rem .6rem;
}

.sidebar__tags-input::placeholder {
    color: var(--text-muted);
    font-family: var(--font-family);
    font-size: 1rem;
}

.sidebar__tags-button {
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-muted);
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}

.sidebar--hidden {
    transform: translateX(100%);
}

/* Graph */

.graph-wrapper {
    position: relative;
    height: 100%;
}

.graph-area {
    --selected-node: var(--primary);
    --muted-node: var(--secondary);
    height: 100%;
    width: 100%;
    display: block;
    background-color: var(--bg-light);
}